<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
<head>
<title>Cadastro de Usuário</title>
<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section class="aw-layout-content  js-content"
		layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de usuário</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" action="" class="form-vertical js-form-loading">

				<div class="form-group bw-required">
					<label for="nome" class="control-label">Nome</label> 
					<input type="text" id="nome" name="nome" class="form-control" />
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group bw-required">
							<label for="email" class="control-label">E-mail</label>
							<input type="text" class="form-control" id="email" name="email" />
						</div>
					</div>
					<div class="col-sm-3">					
						<div class="form-group bw-required">
							<label for="dataNascimento" class="control-label">Data de Nascimento</label>
							<input type="text" class="form-control" id="dataNascimento" name="dataNascimento" />
						</div>					
					</div>					
				</div>
				
				<div class="row">
					<div class="col-sm-3">					
						<div class="form-group bw-required">
							<label for="senha" class="control-label">Senha</label>
							<input type="text" class="form-control" id="senha" name="senha" />
						</div>					
					</div>
					<div class="col-sm-3">					
						<div class="form-group bw-required">
							<label for="confirmarSenha" class="control-label">Confirmação de senha</label>
							<input type="text" class="form-control" id="confirmarSenha" name="confirmarSenha" />
						</div>					
					</div>
					<div class="col-sm-3 bw-required">					
						<label for="ativo" class="control-label">Status</label>
						<div style="margin-top: -1px">
							<input class="js-status" type="checkbox" id="ativo" name="ativo" value="Ativo"
								data-on-text="Ativo" data-off-text="Inativo" data-off-color="danger" 
								 data-label-width="1"/>
						</div>
					</div>
				</div>
				<div class="bw-required">					
					<label class="control-label">Grupos</label>
					<br>
					<span class="checkbox checkbox-inline">
						<input type="checkbox" id="administrador" name="administrador" value="administrador"/>
						<label for="administrador">Administrador</label>
					</span>
					<span class="checkbox checkbox-inline">
						<input type="checkbox" id="vendedor" name="vendedor" value="vendedor"/>
						<label for="vendedor">Vendedor</label>
					</span>
				</div>
				
				<div class="clearfix">
					<div class="pull-right">
						<button class="btn btn-primary">Salvar</button>					
					</div>
				</div>

			</form>
		</div>

	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>	
		<script type="text/javascript">
			$(function(){
				$('.js-status').bootstrapSwitch();
			});
		</script>
	</th:block>
</body>
</html>